<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Active projects</title>
    <link rel="stylesheet" th:href="@{/homepage.css}">
</head>
<body>
<h1>Active projects</h1>
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Start Date</th>
                <th>Deadline</th>
                <th>Description</th>
            </tr>
        </thead>
            <tbody>
                <tr th:each="project : ${projects}" th:if="${!project.status}">
                    <td>
                        <a
                           th:href="@{'/get_subprojects/' + ${project.getProjectId()}}"
                           th:text="${project.getProjectName()}"
                           class="custom-link"
                        >
                        </a>
                    </td>
                    <td>
                        <a
                           th:href="@{'/get_subprojects/' + ${project.getProjectId()}}"
                           th:text="${project.getStartDate()}"
                           class="custom-link"
                        >
                        </a>
                    </td>
                    <td>
                        <a
                           th:href="@{'/get_subprojects/' + ${project.getProjectId()}}"
                           th:text="${project.getDeadline()}"
                           class="custom-link"
                        >
                        </a>
                    </td>
                    <td>
                        <a
                           th:href="@{'/get_subprojects/' + ${project.getProjectId()}}"
                           th:text="${project.getProjectDescription()}"
                           class="custom-link"
                        >
                        </a>
                </tr>
            </tbody>
    </table>
        <div>
            <button type="button" class="action-button" onclick="history.back()"> Back </button>
        </div>
</body>
</html>