<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Active projects</title>
    <link rel="stylesheet" th:href="@{/overview.css}">
</head>
<body>
<div id="action-links">
        <form th:if="${role == Manager}" th:action="@{/addToProject}" method="GET">
            <button type="submit" class="action-button">Add Employee to Project</button>
        </form>
</div>
<h1>Active projects</h1>
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Start Date</th>
                <th>Deadline</th>
                <th>Description</th>
                <th>Daily Hours for Project</th>
                <th>           </th>
            </tr>
        </thead>
            <tbody>
            <tr th:each="project : ${projects}" th:if="${!project.status} and (${project.getProjectId()== ProjectIdFromEmployeeId} or ${role == Manager})">
                    <td>
                        <a
                           th:href="@{'/get_subprojects/' + ${project.getProjectId()}}"
                           th:text="${project.getProjectName()}"
                           class="custom-link"
                        >
                        </a>
                    </td>
                    <td>
                        <a
                           th:href="@{'/get_subprojects/' + ${project.getProjectId()}}"
                           th:text="${project.getStartDate()}"
                           class="custom-link"
                        >
                        </a>
                    </td>
                    <td>
                        <a
                           th:href="@{'/get_subprojects/' + ${project.getProjectId()}}"
                           th:text="${project.getDeadline()}"
                           class="custom-link"
                        >
                        </a>
                    </td>
                    <td>
                        <a
                           th:href="@{'/get_subprojects/' + ${project.getProjectId()}}"
                           th:text="${project.getProjectDescription()}"
                           class="custom-link"
                        >
                        </a>
                        <a th:href="${'/get_subprojects/' + project.getProjectId()}"
                           th:text="${project.getProjectDescription()}"
                           class="custom-link"></a>
                    </td>
                    <td>
                        <span th:text="${projectService.getTimeForProject(project.projectId)}"
                              th:class="${project.getWorkHoursPerProject() < projectService.getTimeForProject(project.projectId) ? 'status-not-done' : 'status-done'}">
                        </span>
                    </td>
                    <!--  This td is only visible if user is manager, and then it give option to complete project -->
                    <!--  some of this code is inspired by chatgpt and claude-->
                    <td>
                          <form th:if="${role == Manager}" th:action="@{/updateProjectStatus}" method="POST">
                                <input type="hidden" name="projectId" th:value="${project.getProjectId()}">
                                <button type="submit" class="action-button">Finish Project</button>
                          </form>
                    </td>
                </tr>
            </tbody>
    </table>
        <div>
            <a href="/home"><button class="action-button">Back</button></a>
        </div>
</body>
</html>