<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Employee to Project</title>
  <link rel="stylesheet" th:href="@{/form.css}">
</head>
<body>
<h1>Assign Employee to Project</h1>

<form th:action="@{/addToProject}" method="post">
  <div>
  <label for="employee">Choose an Employee:</label>
  <select id="employee" name="employeeId">
    <option value="" disabled selected>Select an Employee</option>
    <th:block th:each="employee : ${employees}">
      <option th:if="${!IdList.contains(employee.getEmployeeID())}" th:value="${employee.getEmployeeID()}" th:text="${employee.fullName}"></option>
    </th:block>
  </select>

  <br><br>
  </div>
  <div>
    <input type="hidden" name="projectId" th:value="${projectId}"/>
  </div>
  <button class="action-button"  type="submit">Assign</button>
</form>
<div id="top-button">
    <a href="/activeProjects"><button>Back</button></a>
</div>
</body>
</html>