<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create subproject</title>
    <link rel="stylesheet" th:href="@{/create_project.css}">
</head>
<body>
<div id="top-button">
    <a th:href="@{/home}"><button>Home</button></a>
</div>

<h1>Create a New Subproject</h1>
<p th:if="${TimeError == true}" style="color: red">Deadline was before start date</p>
<form th:action="@{/create_subProject}" method="post" th:object="${subProject}">

    <input type="hidden" name="projectId" th:value="${projectId}" />
    <input type="hidden" name="subprojectId" th:value="*{subProjectId}">

    <div>
        <label for="subProjectName">Subproject Name:</label>
        <input type="text" id="subProjectName" th:field="*{subProjectName}" placeholder="Enter subproject name" required>
    </div>

    <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" th:field="*{startDate}" required>
    </div>
    <div>
        <label for="deadline">Deadline:</label>
        <input type="date" id="deadline" th:field="*{deadline}" required>
    </div>
    <div>
        <label for="budget">Budget:</label>
        <input type="number" id="budget" th:field="*{budget}" placeholder="Enter budget" required>
    </div>

    <!-- checks if errorMessage is in the model -->
    <div th:if="${errorMessage != null}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>

    <div>
        <label for="projectBudget">Project Budget:</label>
        <input type="number" id="projectBudget" th:value="${projectBudget}" readonly>
    </div>

    <div>
        <label for="subProjectDescription">Subproject Description:</label>
        <textarea id="subProjectDescription" th:field="*{subProjectDescription}" placeholder="Enter subproject description"></textarea>
    </div>

    <div>
        <label for="status">Status:</label>
        <input type="checkbox" id="status" th:field="*{status}"> Active
    </div>

    <div>
        <button type="submit">Create subproject</button>
        <button type="button" onclick="history.back()"> Back </button>
    </div>

</form>
</body>
</html>
