<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects Overview</title>
    <link rel="stylesheet" th:href="@{/overview.css}">
</head>
<body>
<div id="Logout">
    <button onclick="history.back()">Back</button>
</div>
<div id="action-links">
    <a href="/create_project"><button>Create Project</button></a>
    <a href="/view_project"><button>View Current Project</button></a>
</div>
<p>Completed Projects</p>
<table>
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}" th:if="${!project.status} and ${project.getProjectId()== ProjectOwner}">
        <td>
            <a th:href="${'/DoneProject/' + project.projectId}" th:text="${project.projectName}" class="custom-link"></a>
        </td>
        <td th:text="${project.projectDescription}"></td>
        <td class="finished-cell">Finished</td>
    </tr>


    </tbody>
</table>
</body>
</html>