<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add employee to task</title>
    <link rel="stylesheet" th:href="@{/create_project.css}">
</head>
<body>

<form th:action="@{/add_employee}" th:object="${employee}" method="POST">
    <h2> Add an employee to the task </h2>

    <input type="hidden" name="subProjectId" th:value="${subProjectId}" />
    <input type="hidden" name="projectId" th:value="${projectId}"/>
    <input type="hidden" name="taskId" th:value="${taskId}"/>

    <div>
        <label> Add employee: </label>
        <select id="employeeId" name="employeeId" multiple>
            <option th:each="employee : ${employeesByProject}" th:value= "${employee.employeeID}" th:text="${employee.fullName}"></option>
        </select>
        <small>Hold Ctrl (Windows) or Command (Mac) to select multiple employees.</small>
    </div>

    <button type="submit">Add employee to task </button>

</form>
</body>
</html>