<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get a task </title>
    <link rel="stylesheet" th:href="@{/homepage.css}">
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Task Name </th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Priority</th>
        <th th:if="${project.status == false}" >Status</th>
        <th>Hours</th>
        <th>Employees</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="task : ${priorityTasks}">
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.taskDescription}"></td>
        <td th:text="${task.taskDeadline}"></td>
        <td th:text="${task.priority}"></td>
        <td th:if="${project.status == false}" >
            <form th:if="${task.taskStatus}" th:action="@{'/task_not_done/' + ${task.taskId}}" method="POST">
                <input type="hidden" name="subProjectId" th:value="${subProjectId}"/>
                <input type="hidden" name="projectId" th:value="${projectId}"/>
                <button type="submit" class="button_done">✔️</button>
            </form>
            <form th:if="${!task.taskStatus}" th:action="@{'/task_done/' + ${task.taskId}}" method="POST">
                <input type="hidden" name="subProjectId" th:value="${subProjectId}"/>
                <input type="hidden" name="projectId" th:value="${projectId}"/>
                <button type="submit" class="button_done">✖</button>
            </form>
        </td>
        <td th:text="${task.duration}"></td>
        <td>
            <ul>
                <li th:each="employee : ${employeesByTask[task.getTaskId()]}" th:text="${employee.fullName}" ></li>
                <li th:if="${employeesByTask[task.getTaskId()].isEmpty()}" th:text="'No employees assigned'"></li>
            </ul>
        </td>
        <td>
            <div th:if="${project.status == false}" id="action-links">
            <form th:if="${!task.taskStatus}" th:action="@{'/add_employee_form/' + ${projectId} + '/' + ${subProjectId} + '/' + ${task.taskId}}" method="GET">
                <button type="submit">Add Employee</button>
            </form>
            </div>
        </td>
        <td th:if="${project.status == false}" >
            <div>
                    <form th:action="@{'/delete_task/' + ${task.taskId}}" method="POST">
                        <input type="hidden" name="subProjectId" th:value="${subProjectId}"/>
                        <input type="hidden" name="projectId" th:value="${projectId}"/>
                        <button class="action-button" type="submit">Delete Task</button>
                    </form>
            </div>
        </td>

    </tr>
    </tbody>
</table>

<div th:if="${project.status == false}"  id="action-links">
    <form th:action="@{'/task_form/project/' + ${projectId} + '/' + ${subProjectId}}" method="GET">
        <button type="submit">Add a task to the current Sub Project</button>
    </form>
    <a th:href="'/get_subprojects/' + ${projectId}"><button class="action-button">Back</button></a>
</div>

<div id="hours-pr-employee">
    <span class="total-hours-button"
          th:classappend="${hoursPrEmployee > 20} ? ' bad-workload' : ' good-workload'"
          th:text="'Average workload per Employee: ' + ${hoursPrEmployee} + ' hours'"></span>
</div>

<div th:if="${project.status == false}" id="hours">
    <span class="total-hours-button" th:text="'Hours to go: ' + ${totalHours}"></span>
</div>



</body>
</html>