<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Subprojects</title>
    <link rel="stylesheet" th:href="@{/homepage.css}">
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Subproject</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Deadline</th>
        <th th:if="${project.status == false}">Status</th>
        <th>Budget</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="sub : ${allSubprojects}">
        <td>
            <a
                th:href="@{'/get_task/' + ${sub.getProjectId()} + '/' + ${sub.getSubProjectId()}}"
                th:text="${sub.subProjectName}"
                class="custom-link">
            </a>
        </td>
        <td>
            <a
                th:href="@{'/get_task/' + ${sub.getProjectId()} + '/' + ${sub.getSubProjectId()}}"
                th:text="${sub.subProjectDescription}"
                class="custom-link">
            </a>
        </td>
        <td>
            <a
                th:href="@{'/get_task/' + ${sub.getProjectId()} + '/' + ${sub.getSubProjectId()}}"
                th:text="${sub.startDate}"
                class="custom-link">
            </a>
        </td>
        <td>
            <a
                th:href="@{'/get_task/' + ${sub.getProjectId()} + '/' + ${sub.getSubProjectId()}}"
                th:text="${sub.deadline}"
                class="custom-link">
            </a>
        </td>
        <td th:if="${(project.status == false)}">
            <form th:if="${sub.status}" th:action="@{'/subProject_not_done/' + ${projectId}}" method="POST">
                <input type="hidden" name="subProjectId" th:value="${sub.subProjectId}"/>
                <input type="hidden" name="projectId" th:value="${projectId}"/>
                <button type="submit" class="button_done">✔️</button>
            </form>
            <form th:if="${!sub.status}" th:action="@{'/subProject_done/' + ${projectId}}" method="POST">
                <input type="hidden" name="subProjectId" th:value="${sub.subProjectId}"/>
                <input type="hidden" name="projectId" th:value="${projectId}"/>
                <button type="submit" class="button_done">✖</button>
            </form>
        </td>
        <td th:text="${sub.budget}"></td>
        <td>
            <div th:if="${project.status == false}">
                <form th:action="@{'/deleteSubproject/' + ${sub.subProjectId}}" method="POST">
                    <input type="hidden" name="projectId" th:value="${projectId}">
                    <button type="submit" class="action-button"> Delete Subproject</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${project.status == false}" id="action-links">
    <form th:action="@{'/create_subProjectForm/' + ${projectId}}" method="GET">
        <button type="submit">Add new Subproject</button>
    </form>
    <a href="/activeProjects"><button class="action-button">Back</button></a>
</div>

<div>

</div>
</body>
</html>