<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects Overview</title>
    <link rel="stylesheet" th:href="@{/homepage.css}">
</head>
<body>
<div id="Logout">
    <a th:href="@{/logout}"><button>Logout</button></a>
</div>
<div id="action-links">
      <a th:if="${role== Manager}" href="/create_project"><button>Create Project</button></a>
    <a href="/activeProjects"><button>View Current Project</button></a>
</div>
<p>Completed Projects</p>
<table>
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Budget</th>
        <th>Cost</th>
        <th>Variance</th>
        <th>Hours Used</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}" th:if="${project.status} and (${project.getProjectId()== ProjectIdFromEmployeeId} or ${role == Manager})">
        <td>
            <a th:href="${'/get_subproject/' + project.projectId}" th:text="${project.projectName}" class="custom-link"></a>
        </td>
        <td th:text="${project.projectDescription}"></td>
        <td th:text="${project.getBudget()}"></td>
        <td th:text="${projectRepo.calculateCost(project.getProjectId())}"></td>
        <td th:text="${project.getBudget() - projectRepo.calculateCost(project.getProjectId())}"
            th:class="${project.getBudget() - projectRepo.calculateCost(project.getProjectId()) >= 0 ? 'text-green' : 'text-red'}">
        </td>
        <td th:text="${projectRepo.calculateTime(project.projectId)}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>
