<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/create_project.css}">
</head>
<body>
<div>
    <form th:action="@{/login}" th:object="${employee}" method="post">
        <h2>Login Page</h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>
        <div>
        <button type="submit">Login</button>
        <p th:if="${error}" style="color:red">Error: Wrong Username or Password.</p>
        </div>
    </form>
    <div>
        <a href="/create_employee"><button>Create Employee</button></a>
    </div>

</div>

</body>
</html>