<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <link rel="stylesheet" th:href="@{/create_project.css}">
</head>
<body>
<div id="top-button">
    <a th:href="@{/home}"><button>Home</button></a>
</div>

<h1>Update the subProject</h1>


<!-- Form to create a new project -->
<form th:action="@{'/updatesubproject/' + ${subProjectId}}" method="post" th:object="${subproject}">
    <input type="hidden" name="subProjectId" th:value="${subProjectId}">
    <div>
        <label for="subProjectName">New subproject Name:</label>
        <input type="text" id="subProjectName" th:field="*{subproject.subProjectName}" placeholder="Update the name of the subproject">
    </div>
    <div>
        <label for="subProjectDescription">New SubProject Description:</label>
        <textarea id="subProjectDescription" th:field="*{subproject.subProjectDescription}" placeholder="Update the subproject description"></textarea>
    </div>
    <div>
        <label for="startDate">New start date:</label>
        <input type="date" id="startDate" th:field="*{subproject.startDate}">
    </div>
    <div>
        <label for="deadline">New deadline:</label>
        <input type="date" id="deadline"
               th:attr="min = *{subproject.startDate}"
               th:field="*{subproject.deadline}">
    </div>
    <div>
        <label for="budget">New budget:</label>
        <input type="number" id="budget" th:field="*{subproject.budget}" placeholder="Enter budget">
    </div>

    <input type="hidden" th:field="*{subproject.status}" value="false">

    <div>
        <button type="submit">Update Subproject</button>
        <button type="button" onclick="history.back()"> Back </button>
    </div>
</form>
</body>
</html>